body {
    font-family: 'Lato', sans-serif;
}

/*header style*/
.flower-photo {
    width: 500px;

}

.flower-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgba(229, 84, 115, 0.10);

}

.heading {
    font-size: 80px;
    font-weight: 800;
}

.flower-discription {
    color: rgba(63, 63, 63, 0.6);
    font-size: 16px;
    display: flex;
    margin: 32px 0;
    max-width: 500px;
}

.btn {
    padding: 20px 45px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
}

/*main section design*/
.flower-hard-topic-2{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 200px;
}
.photo-3 {
    width: 120px;
    padding-left: 50px;
    padding-top: 20px;
}
.photo-1{
    width: 120px;
    padding-left: 50px;
    padding-top: 35px; 
}
.photo-2{
    width: 130px;
    padding-left: 50px;
    padding-top: 70px;
}
.flower-tree{
    text-decoration: underline;
    font-size: 10px;
    padding-top: 25px;
    text-align: center;
}
.flower-border {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 200px;
    height: 200px;
    padding-bottom: 0;
}

.flower-border-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 200px;
    height: 200px;
    padding-bottom: 0;
}
.flower-border-3{
    width: 200px;
    height: 200px;
    padding-bottom: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.heading-2 {
    font-size: 40px;
    color: black;
    padding-top: 150px;
    text-align: center;



}

.flower-paragraph {
    text-align: center;
    color: rgba(63, 63, 63, 0.6);
    padding-bottom: 30px;
    padding-top: 0px;
    width: 500px;
    margin: auto;
    line-height: 25px;

}

.span {
    color: #E55473;
}

.center-btn {
    text-align: center;
}

.flower-section-2 {
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    max-width: auto;
    margin: 0px;
    padding: 120px 30px;
}

/*main section 4 flower style */
.flower-section-3 {
    margin-bottom: 80px;
}

.flower-all {
    height: 350px;
    width: 300px;
    display: flex;
    gap: 23px;
}

.flower-image-topic {
    justify-content: center;
    text-align: center;
}

/*background-image */
.background-photo {
    background-image: url('Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    text-align: center;
    height: 500px;
    margin: 50px 100px;

}

.email input,
button {
    padding: 22px 200px 23px 22px;
    border: 0;
    gap: 20px;
    border-radius: 5px;
}

/*footer style*/
.flower-footer {
    background-color: black;
    height: 500px;
    margin: 0;
}

.heading-3 {
    font-size: 40px;
    color: white;
    padding-top: 150px;
    text-align: center;
}

.flower-paragraph-2 {
    text-align: center;
    color: white;
    padding-bottom: 30px;
    padding-top: 0px;
    width: 500px;
    margin: auto;
    line-height: 25px;
}

.last-class {
    text-align: center;
    color: #FFFFFF66;
    list-style: none;
}